chirper/*.log
chirper/DS_Store
chirper/env
chirper/env.backup
chirper/env.production
chirper/phpactor.json
chirper/phpunit.result.cache
chirper/.fleet
chirper/.idea
chirper/.nova
chirper/.phpunit.cache
chirper/.vscode
chirper/.zed
chirper/auth.json
chirper/node_modules
chirper/public/build
chirper/public/hot
chirper/public/storage
chirper/storage/*.key
chirper/storage/pail
chirper/vendor
chirper/omestead.json
chirper/omestead.yaml
chirper/humbs.db
